body {
    background-color: black;
    margin: 0;
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}
.espaco {
    margin: 0;
    margin-left: 5%;
    width: 95%;
    height: 100vh;
}
/* Animation */
@keyframes digitando {
    from {width: 0;}
    to {width: 100%;}
}
@keyframes blink {
    from, to { border-color: transparent }
     50% { border-color: green; }
}
.palavras {
    width: 0;
    overflow: hidden;
    color: green;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    animation: digitando 4s steps(40, end) forwards;
    white-space: nowrap;
}
.palavras1s {
    width: 0;
    overflow: hidden;
    color: green;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    animation: digitando 4s steps(40, end) forwards;
    white-space: nowrap;
    animation-delay: 300ms;
}
.palavras2s {
    width: 0;
    overflow: hidden;
    color: green;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    animation: digitando 4s steps(40, end) forwards;
    white-space: nowrap;
    animation-delay: 900ms;
}
.palavras3s {
    width: 0;
    overflow: hidden;
    color: green;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    animation: digitando 3s steps(60, end) forwards;
    white-space: nowrap;
    animation-delay: 2s;
}
.barra {
    border-right: solid green 2px;
    animation: blink 0.75s step-end infinite;
}
.palavras4s {
    width: 0;
    overflow: hidden;
    color: green;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    animation: digitando 4s steps(40, end) forwards;
    white-space: nowrap;
    animation-delay: 5.5s;
}
.batlogo {
    width: 0;
    overflow: hidden;
    color: green;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    animation: digitando 3s steps(40, end) forwards;
    white-space: nowrap;
    animation-delay: 7s;
}
.palavras5s {
    width: 0;
    overflow: hidden;
    color: green;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    animation: digitando 3s steps(60, end) forwards;
    white-space: nowrap;
    animation-delay: 10s;
}