
body {
    margin: 0;
    font-family: Roboto;
}
/* Menu inicio */
.logo {
    display: flex;
    justify-content: left;
    width: 70%;
}
.logo img{
    width: 120px;
    height: 120px;
    margin-left: 40px;
}
.menu {
 display: flex;
 flex-direction: row;
 justify-content: right;
 height: 120px;
 background-color: black;
 border-bottom: solid lightgray 3px;
 font-family: 'Roboto', sans-serif;
}
.espacamento {
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style: none;
    align-items: center;
    color: white;
    margin-right: 50px;
}
.aqui {
    color: grey;
    font-weight: bold;
}
/* Menu fim */

/* conteudo inicio */ 
    .conteudo {
        background-image: url(../img/cidade.jpeg);
        background-size: cover;
        width: 100%;
        height: 100vh;
        
    }
    .movimento{
        display: flex;
        justify-content: left;
        margin-left: 5%;
    }
    .faixada {
        width: 60%;
        height: 250px;
        margin-top: 15%;
        color: white;
        font-family:  'Roboto', sans-serif;
        font-size: 30px;
    }
    .botao {
        display: flex;
        justify-content: left;
        margin-left: 5%;
    }
    .botao button {
        font-family: 'Roboto', sans-serif ;
        background-color: lightgray;
        font-size: 16px;
        border: solid black 2px;
        border-radius: 10px;
        width: 300px;
        height: 50px;
        font-weight: bold;
        cursor: pointer;
    }
/* conteudo fim* /

/* footer inicio */

.footer {
    width: 100%;
    height: 250px;
    background-color: black;
    border-top: solid lightgray 3px;
    display: flex;
    flex-direction: row;
}
.esquerda {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: left;
    font-family: 'Roboto';
    color: white;
    font-size: 16px;
}
.esquerda span{
    margin-left: 15%;
    margin-top: 10%;
}
.centro {
    color: white;
    margin-left: 50px;
    display: flex;
    width: 20%;
    height: 100%;
}
.centro span {
    margin-top: 10%;
    font-family: 'Roboto';
}
.direita {
    color: white;
    margin-left: 10px;
    display: flex;
    width: 20%;
    height: 100%;
}
.direita span {
    margin-top: 10%;
    font-family: 'Roboto';
}
.direita2 {
    display: flex;
    color: white;
    margin-left: 10px;
    display: flex;
    width: 20%;
    height: 60%;
    flex-direction: column;
}
.direita2 span {
    margin-top: 10%;
    font-family: 'Roboto';
}

/* footer fim */

